.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
  background-color: #fff9e9;
}

@media (min-width: 768px) {
  .account {
      flex-direction: row;
  }
}

.down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.account-image {
  max-width: 100%;
  height: auto;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.up {
  width: 100%;
  max-width: 350px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: -6lvw;
  margin-top: 15lvw;
}

.account h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.account input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.account input:focus {
  border-color: #ba4531;
  box-shadow: 0 0 5px rgba(186, 69, 49, 0.3);
  outline: none;
}

.account button {
  background-color: #ba4531;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
}

.account button:hover {
  background-color: #ca5945;
  transform: scale(1.01);
}

.account p {
  color: #666;
  font-size: 0.9rem;
  margin-top: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.account p:hover {
  color: #333;
}

@media (max-width: 767px) {
  .account {
      padding: 20px;
  }

  .up, .down {
      width: 100%;
  }

  .up{
    margin: 0;
  }

  .account-image {
      width: 50%;
      margin-bottom: 20px;
      margin-top: 100px;
  }
}

@media (max-width: 562px){
  .account-image {
    width: 70%;
  }
}