.about {
    background-color: #fff9e9;
    padding: 50px 0;
}
  
.ex1{
    margin-left: 350px;
}

.about-cell {
    height: 450px;
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-cell:hover{
    transform: scale(1.02);
    cursor: pointer;
}
  

.about-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
  
  

.about-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
  
